*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face{
    font-family: SpectralSemiBold;
    src: url(../fonts/Spectralscsemibold.ttf);
}

body{
    font-family: Montserrat;
    background-color: #d5d9da;
}

.main-img{
    background-image: url(../img/title/Каппадокия.png);
    background-size: cover;
    background-position: center;
    height: 811px;
}
.header {
    background-color: #dde0db;
    padding: 16px 0;
    position: sticky;
    top: 0;
    z-index: 4;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header .container{
    font-size: 0;
}
.header .logo {
    display: inline-block;
    vertical-align: middle;
}
.header .menu {
    margin-left: 354px;
    display: inline-block;
    vertical-align: middle;
}
.header .menu ul {
    list-style: none;
    font-size: 0;
}
.header .menu ul li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 28px;
}
.header .menu ul li a{
    text-decoration: none;
        font-size: 16px;
        color: rgb(70, 80, 85);
        line-height: 1.2;

}
.header-actions {
    display: inline-block;
    vertical-align: middle;
    margin-left: 94px;
}
.button{
 font-size: 16px;
 line-height: 11px;
 padding: 14px;
 border-radius: 20px;
 border: 0;
 cursor: pointer;
 width: 205px;
} 
.button.button-transparent{
    color: rgb(121, 136, 144);
    background-color: transparent;
    border: 1px solid #818282;
}

.gallery {
    padding: 102px 0 55px 0;
}
.gallery h2{
        font-size: 40px;
        font-family: SpectralSemiBold, sans-serif;
        color: rgb(47, 40, 34);
        line-height: 1.2;
        margin-bottom: 54px;
        text-align: center;
}
.gallery-description {
        font-size: 18px;
        color: rgb(62, 52, 44);
        line-height: 1.2;
        text-align: center;
        margin-bottom: 18px;
}
.gallery-items {
    margin-left: -12px;
    margin-right: -12px;
    font-size: 0;
    text-align: center;
}
.gallery-item {
    margin: 12px 11px;
    display: inline-block;
    vertical-align: middle;
    width: 384px;
    height: 290px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.gallery-item.gallery-item-big {
    width: 792px;
}
.gallery-text {
        font-size: 18px;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        left: 20px;
        bottom: 20px;
        position: absolute;
        z-index: 3;
}
.gallery-eye{
    display: none;
    opacity: 0.6;
    background-color: black;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    line-height: 330px;
    cursor: pointer;
}
.gallery-eye image{
    vertical-align: middle;
}
.gallery-item:hover .gallery-eye{
    display: block;
}

.tours {
    padding: 54px 0 88px 0;
}
.container {
}
.tours h2{
        font-size: 40px;
        font-family: SpectralSemiBold, sans-serif;
        color: rgb(47, 40, 34);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 50px;
}
.tours-items {
    margin-right: -12px;
    margin-left: -12px;
    font-size: 0;
}
.tours-item {
    margin: 0 12px;
    display: inline-block;
    vertical-align: middle;
    max-width: 384px;
    position: relative;
}
.tours-item-img {
}
.tours-item-info {
    background-color: #31393f;
    padding: 22px 22px 40px 22px;
}
.tours-item-text {
    font-size: 22px;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
        margin-bottom: 37px;
}
.tours-item-action {  
text-align: center;
}
.button {
}
.button-filled {
    background-color: #da8246;
        font-size: 18px;
        color: rgb(37, 41, 43);
}

.button.button-filled:hover{
        box-shadow: 0px 4px 14.25px 0.75px rgba(217, 149, 103, 0.8);
}

.fix-block{
    width: 46px;
    height: 46px;
    background-color: #da8246;
    text-align: center;
    line-height: 46px;
    position: absolute;
    top: 0;
    right: 0;
}
.fix-block img{
    vertical-align: middle;
}
.footer{
    background-color: #31393f;
    padding: 51px 0;
}
.footer .container  {

    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.conteiner {
}
.logo {
}
.contacts {
    text-align: center;
}
.contacts-title {
        font-size: 18px;
        color: rgb(167, 185, 197);
        line-height: 1.2;
}
.contacts-tels {
}
.contacts-tel {
        font-size: 14px;
        color: rgb(131, 145, 156);
        line-height: 1.2;
}